VITE_SUPABASE_URL=https://ruvnrlepdhyesojqqeow.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1dm5ybGVwZGh5ZXNvanFxZW93Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMxNjU3OTcsImV4cCI6MjA5ODc0MTc5N30.7QOEOS7BGkWPqkI_5XUTKxMbRvHuypDx3xQ32AtAyyM
